@using Shop.Utilities

<li class="nav-item">
    <a class="nav-link" href="@Consts.PageAccountProfile">
        <i class="fa fa-user nav-icon"></i><strong>Profile</strong>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Consts.PageAccountSecurity">
        <i class="fa-solid fa-key nav-icon"></i><strong>Security</strong>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Consts.PageAccountAddresses">
        <i class="fa fa-map-location-dot nav-icon"></i><strong>Addresses</strong>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Consts.PageHome">
        <i class="fa fa-file-invoice nav-icon"></i><strong>Orders</strong>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Consts.PageAccountDelete">
        <i class="fa fa-trash nav-icon"></i><strong>Delete</strong>
    </a>
</li>
<li class="nav-item border-bottom-0">
    <a class="nav-link" href="@Consts.PageLogout">
        <i class="fa fa-sign-out nav-icon"></i><strong>Logout</strong>
    </a>
</li>