@page "/cart"
@using Shop.Utilities
@using Shop.Types.Cart
@using Shop.Infrastructure
@using Shop.Types.Products.Dtos
@using Shop.Razor.Catalog
@using Shop.Types.Products
@using Shop.Razor.Shared.Components
@inherits Shop.Razor.Shared.ShopPage

<LoadingPanelPage @ref="_loadingPanel"/>

<!-- CONTAINER -->
<div class="content-container cart-container">
    <!-- ITEMS -->
    <div class="cart-items">
        @foreach ( var kvp in _itemsAndSummaries )
        {
            <ProductCard Product="@ProductModel.From( kvp.Value )" CardType="@ProductCard.Type.Cart"/>
            <!-- BUTTONS -->
            <div class="cart-item-buttons">
                <!-- QUANTITY -->
                @if (kvp.Key.Quantity < 10)
                {
                    <!-- SMALL QUANTITY DROPDOWN -->
                    <div class="form-group w-50">
                        <select id="quantitySelect" class="btn btn-outline-secondary btn-icon form-select h-100 w-100" @onchange="@(async () => await OnChangeQuantitySmall( kvp.Key ))" value="@kvp.Key.Quantity">
                            @foreach ( int quantity in ItemQuantityOptions )
                            {
                                <option value="@quantity" selected="@( kvp.Key.Quantity == quantity )">Qty: @quantity</option>
                            }
                        </select>
                    </div>
                }
                else
                {
                    <!-- LARGE QUANTITY INPUT -->
                    <div class="cart-large-quantity">
                        <input class="form-control" type="number" @onchange="@(( e ) => OnChangeQuantityLarge( kvp.Key, e ))"/>
                    </div>
                    <!-- SAVE CHANGES -->
                    if (_changedItems.Contains( kvp.Key ))
                    {
                        <button class="btn btn-primary" @onchange="@(async () => await SaveChanges())">
                            Save Changes
                        </button>
                    }
                }
                <!-- REMOVE -->
                <button class="btn btn-link btn-icon text-decoration-none" @onchange="@(async () => await OnClickDelete( kvp.Key ))">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        }
    </div>

    <div class="cart-checkout">
        <p>HI</p>
    </div>
</div>

@code
{
    [Inject] public CartManager CartManager { get; init; } = default!;
    LoadingPanelPage _loadingPanel = default!;

    static readonly int[] ItemQuantityOptions = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
    Dictionary<CartItem, ProductSummaryDto> _itemsAndSummaries = [];
    HashSet<CartItem> _changedItems = [];
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await GetCart();
    }
    
    void OnChangeQuantityLarge( CartItem item, ChangeEventArgs args )
    {
        /*if (args.Value is null )
            return;
        int quantity = (int) args.Value;
        product.Quantity = quantity;
        _changed.Add( product );*/
    }
    async Task OnChangeQuantitySmall( CartItem item ) 
    {
        /*var cartReply = await CartManager.Update( product );
        if (!cartReply)
        {
            PushError( $"Failed to update quantity. {cartReply.GetMessage()}" );
            return;
        }
        
        StateHasChanged();
        PushSuccess( "Quantity updated." );*/
    }
    async Task SaveChanges()
    {
        var cartReply = await CartManager.UpdateBulk( _changedItems.ToList() );
        if (!cartReply)
        {
            PushError( $"Failed to save changes. {cartReply.GetMessage()}" );
            return;
        }

        StateHasChanged();
        PushSuccess( "Changes saved." );
    }
    async Task OnClickDelete( CartItem item )
    {
        var cartReply = await CartManager.Delete( item );
        if (!cartReply)
        {
            PushError( $"Failed to remove item from cart. {cartReply.GetMessage()}" );
            return;
        }

        StateHasChanged();
        PushSuccess( "Item removed." );
    }
    async Task OnClickClear()
    {
        var cartReply = await CartManager.Clear();
        if (cartReply) PushSuccess( "Emptied cart." );
        else PushError( $"Failed to clear cart. {cartReply.GetMessage()}" );
    }
    async Task OnClickChangeLocation()
    {
        // await get estimates
    }

    async Task GetCart()
    {
        Loader.StartLoadingPage( "Loading cart..." );
        
        // clear
        _itemsAndSummaries = [];
        _changedItems = [];
        
        // get cart
        var cartReply = await CartManager.Get();
        if (!cartReply)
        {
            Loader.StopLoadingPage();
            PushError( $"An error occured while getting cart. {cartReply.GetMessage()}" );
            return;
        }
        
        // get products
        var summary = cartReply.Data;
        var url = $"{Consts.ApiGetProductsByIds}?ProductIds={string.Join( ",", summary.GetIds() )}";
        var productsReply = await Http.GetAsync<List<ProductSummaryDto>>( url );
        if (!productsReply)
        {

            Loader.StopLoadingPage();
            PushWarning( $"Failed to fetch product details. {productsReply.GetMessage()}" );
            return;
        }
        
        // merge data
        List<ProductSummaryDto> dtos = productsReply.Data;
        foreach ( CartItem c in summary.Items )
        {
            var dto = dtos.FirstOrDefault( d => d.Id == c.ProductId );
            _itemsAndSummaries.TryAdd( c, dto );
        }
        
        Loader.StopLoadingPage();
    }
}