@page "/cart"
@using Shop.Utilities
@using Shop.Types.Cart
@using Shop.Infrastructure
@using Shop.Types.Products.Dtos
@using Shop.Razor.Catalog
@using Shop.Types.Products
@using Shop.Razor.Shared.Components
@inherits Shop.Razor.Shared.ShopPage

<LoadingPanelPage/>

<!-- CONTAINER -->
<div class="content-container cart-container">
    <!-- ITEMS -->
    <div class="cart-items">
        <div class="cart-items-header">
            <h3 class="mb-0">Shopping Cart (@_itemsAndSummaries.Count())</h3>
            <button class="btn btn-outline-primary btn-icon btn-sm" @onclick="@(async()=>await OnClickClear())">
                <i class="fa fa-trash me-2"></i>
                Empty Cart
            </button>
        </div>
        
        @if (_itemsAndSummaries.Count() <= 0)
        {
            <p class="my-3">Empty</p>
        }
        
        @foreach ( var item in _itemsAndSummaries.Items() )
        {
            <ProductCard Product="@ProductModel.From( _itemsAndSummaries.Dto( item ) )" CardType="@ProductCard.Type.Cart"/>
            <!-- BUTTONS -->
            <div class="cart-item-buttons">
                <!-- QUANTITY -->
                @if (item.Quantity < 10)
                {
                    <!-- SMALL QUANTITY DROPDOWN -->
                    <div class="form-group">
                        <select id="quantitySelect" type="number" class="btn btn-outline-secondary btn-icon form-select h-100 w-100" @onchange="@(async ( e ) => await OnChangeQuantitySmall( item, e ))" value="@item.Quantity">
                            @foreach ( int quantity in ItemQuantityOptions )
                            {
                                <option value="@quantity" selected="@( item.Quantity == quantity )">Qty: @quantity</option>
                            }
                        </select>
                    </div>
                }
                else
                {
                    <!-- LARGE QUANTITY INPUT -->
                    <div class="cart-large-quantity h-100">
                        <input class="form-control h-100" type="number" value="@item.Quantity" @onchange="@(( e ) => OnChangeQuantityLarge( item, e ))"/>
                    </div>
                    <!-- SAVE CHANGES -->
                    if (_changedItems.Contains( item ))
                    {
                        <button class="btn btn-primary" @onchange="@(async () => await SaveChanges())">
                            Save Changes
                        </button>
                    }
                }
                <!-- REMOVE -->
                <button class="btn btn-outline-primary btn-icon cart-delete-button" @onclick="@(async () => await OnClickDelete( item ))">
                    <i class="fa fa-trash me-2"></i>
                    <span>Remove</span>
                </button>
            </div>
        }
    </div>
    
    <!-- CART CHECKOUT -->
    <div class="cart-checkout">
        <div class="cart-checkout-title">
            <h3 class="mb-0">Summary</h3>
        </div>
        <div class="cart-checkout-section">
            <span>Items:</span>
            <span>$@_itemsAndSummaries.Price()</span>
        </div>
        <div class="cart-checkout-section">
            <span>Savings:</span>
            <span>$@_itemsAndSummaries.Savings()</span>
        </div>
        <div class="cart-checkout-section">
            <span>Shipping:</span>
            <span>$@_itemsAndSummaries.Shipping()</span>
        </div>
        <div class="cart-checkout-section">
            <span>Estimated Tax:</span>
            <span>$@_itemsAndSummaries.EstimatedTax()</span>
        </div>
        <hr/>
        <div class="cart-checkout-section">
            <span>Estimated Total:</span>
            <span>$@_itemsAndSummaries.EstimatedTotal()</span>
        </div>
        <a class="btn btn-outline-primary btn-icon mt-2" href="@Consts.PageCheckout">
            Checkout
        </a>
    </div>
</div>

@code
{
    [Inject] public CartManager CartManager { get; init; } = default!;

    static readonly int[] ItemQuantityOptions = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
    CartItemsAndSummaries _itemsAndSummaries = CartItemsAndSummaries.Empty();
    HashSet<CartItemDto> _changedItems = [];
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //await GetCart();
    }

    async Task GetCart()
    {
        Loader.StartLoadingPage( "Loading cart..." );

        // clear
        _itemsAndSummaries = CartItemsAndSummaries.Empty();
        _changedItems = [];

        // get cart
        var cartReply = await CartManager.GetFull();
        if (!cartReply)
        {
            Loader.StopLoadingPage();
            PushError( $"An error occured while getting cart. {cartReply.GetMessage()}" );
            return;
        }
        
        if (cartReply.Data.Items.Count <= 0)
        {
            _itemsAndSummaries = CartItemsAndSummaries.From( cartReply.Data.Items, [] );
            Loader.StopLoadingPage();
            return;
        }
        
        // get products
        var url = $"{Http.Catalog( Consts.ApiGetProductsByIds )}?ProductIds={string.Join( ",", cartReply.Data.GetIds() )}";
        var productsReply = await Http.GetAsync<List<ProductSummaryDto>>( url );
        if (!productsReply)
        {

            Loader.StopLoadingPage();
            _itemsAndSummaries = CartItemsAndSummaries.From( cartReply.Data.Items, [] );
            PushWarning( $"Failed to fetch product details. {productsReply.GetMessage()}" );
            return;
        }

        // merge data
        _itemsAndSummaries = CartItemsAndSummaries.From( 
            cartReply.Data.Items, productsReply.Data );

        Loader.StopLoadingPage();
    }
    
    void OnChangeQuantityLarge( CartItemDto itemDto, ChangeEventArgs args )
    {
        if (!int.TryParse( args.Value?.ToString(), out int quantity ))
        {
            PushError( "Failed to update quantity. Invalid quantity arguments." );
            return;
        }
        
        itemDto.Quantity = quantity;
        _changedItems.Add( itemDto );
    }
    async Task OnChangeQuantitySmall( CartItemDto itemDto, ChangeEventArgs args )
    {
        if (!int.TryParse( args.Value?.ToString(), out int quantity ))
        {
            PushError( "Failed to update quantity. Invalid quantity arguments." );
            return;
        }
        
        Loader.StartLoadingPage( "Updating cart..." );
        itemDto.Quantity = quantity;
        await Update( _itemsAndSummaries.Items().ToList() );
        await GetCart();
    }
    async Task SaveChanges()
    {
        Loader.StartLoadingPage( "Saving changes..." );
        await Update( _itemsAndSummaries.Items().ToList() );
        await GetCart();
    }
    async Task OnClickDelete( CartItemDto itemDto )
    {
        Loader.StartLoadingPage( "Removing item..." );
        var items = _itemsAndSummaries.Items().ToList();
        items.Remove( itemDto );
        await Update( items );
        await GetCart();
    }
    async Task Update( List<CartItemDto> items )
    {
        var cartReply = await CartManager.Update( items );
        if (!cartReply)
        {
            Loader.StopLoadingPage();
            PushError( $"Failed to remove item from cart. {cartReply.GetMessage()}" );
            return;
        }

        Loader.StopLoadingPage();
    }
    
    async Task OnClickClear()
    {
        Loader.StartLoadingPage( "Clearing cart..." );
        
        var cartReply = await CartManager.Clear();
        
        if (!cartReply) 
            PushError( $"Failed to clear cart. {cartReply.GetMessage()}" );
        
        await GetCart();
    }
}