@using Shop.Utilities
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Principal
@using Shop.Infrastructure.Authentication
@using Shop.UI.Shared.Components
@implements IDisposable
@inject IJSRuntime JsRuntime

@if (mobileView) {
    <!-- MOBILE -->
    <div class="top-nav-mobile">
        <!-- TOP ROW -->
        <div class="top-nav-content content-container top-nav-mobile-top">
            <!-- LOGO -->
            <a class="logo" href="@Urls.PageHome">
                <img class="top-nav-item p-2" src="/images/logo.svg" alt="Blazor">
            </a>
            <div class="top-nav-mobile-right">
                <button class="btn btn-icon" @onclick="@OnClickAccountButton">
                    <i class="fa-solid fa-user fa-lg"></i>
                </button>
                <button class="btn btn-icon" @onclick="@GoToCart">
                    <i class="fa-solid fa-cart-shopping fa-lg"></i>
                </button>
                <button class="btn btn-icon pe-0" @onclick="@OpenSide">
                    <i class="fa-solid fa-bars fa-lg"></i>
                </button>
            </div>
        </div>
        <!-- BOTTOM ROW -->
        <div class="top-nav-content content-container pb-2">
            <MainNavigationSearchBar/>
        </div>
    </div>
    <!-- SIDEBAR -->
    <MainNavigationSide @ref="sidebar" TopMenu="@this"/>
}
else {
    <!-- UPPER -->
    <div class="top-nav-upper">
        <div class="top-nav-content content-container">
            <!-- TOP LEFT -->
            <nav class="top-nav-upper-left">
                <a href=""><small>Help & Contact</small></a>
                <a href=""><small>Featured Items</small></a>
                <a href=""><small>Top Deals</small></a>
            </nav>
            <!-- TOP RIGHT -->
            <div class="top-nav-upper-right">
                <!-- ACCOUNT -->
                <div class="position-relative" @onmouseenter="@ShowAccountDropdown" @onmouseleave="@HideAccountDropdown">
                    <button class="btn top-nav-button" @onclick="OnClickAccountButton">
                        <div class="btn btn-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="top-nav-upper-right-label">
                            <span class="d-block"><small>@username</small></span>
                        </div>
                    </button>
                    @if (showUserOptions) {
                        <nav class="top-nav-user-options position-absolute shadow">
                            <ul class="nav justify-content-center w-100">
                                <AccountMenuOptions/>
                            </ul>
                        </nav>
                    }
                </div>
                <!-- CART -->
                <button class="btn top-nav-button" @onclick="GoToCart">
                    <div class="btn btn-icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <div class="d-flex flex-column align-items-start justify-content-end">
                        <span class="d-block"><small>@cartCount</small></span>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <!-- LOWER -->
    <div class="top-nav-lower">
        <div class="top-nav-content content-container">
            <!-- LOGO -->
            <a class="logo" href="@Urls.PageHome">
                <img class="top-nav-item" src="/images/logo.svg" alt="Blazor">
            </a>
            <!-- CATEGORIES -->
            <div class="btn position-relative mx-2 top-nav-categories-button" @onmouseenter="ShowDesktopCategories" @onmouseleave="HideDesktopCategories">
                <strong>Shop By Category</strong> &nbsp; &#9662
                @if (showDesktopCategories) {
                    <div class="top-nav-categories-wrapper position-absolute shadow">
                        <MainNavigationCategories ShowExitButton="@(false)"/>
                    </div>
                }
            </div>
            <!-- SEARCH BAR -->
            <div class="d-flex flex-grow-1 mx-0 top-nav-item">
                <MainNavigationSearchBar/>
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter( Name = "layout" )]
    public MainLayout Layout { get; init; } = default!;
    
    [Inject] public NavigationManager Navigation { get; set; } = default!;
    [Inject] public AuthService AuthService { get; set; } = default!;
    MainNavigationSide? sidebar;
    DotNetObjectReference<MainNavigationTop> dotNetRef = default!;
    
    int screenWidth;
    int screenHeight;
    bool mobileView = false;
    bool showDesktopCategories = false;
    bool showUserOptions = false;
    bool authenticated = false;
    const string DefaultUserText = "Login";
    string username = DefaultUserText;
    decimal cartPrice = decimal.Zero;
    int cartCount = 0;

    void Log()
    {
        Console.WriteLine("Hit");
    }

    public void Dispose()
    {
        dotNetRef?.Dispose();
        AuthService.OnStateChanged -= OnAuthStateChanged;
    }
    protected override async Task OnInitializedAsync()
    {
        dotNetRef = DotNetObjectReference.Create( this );
        AuthService.OnStateChanged += OnAuthStateChanged;
        await JsRuntime.InvokeVoidAsync( "resizeObserverInterop.initialize", dotNetRef );
    }
    protected override async Task OnAfterRenderAsync( bool firstRender )
    {
        await base.OnAfterRenderAsync( firstRender );
        if (firstRender)
            HandleIdentity( await Layout.Auth.GetAuthenticationStateAsync() );
    }

    [JSInvokable] public void OnResize( int width, int height )
    {
        screenWidth = width;
        screenHeight = height;

        mobileView = screenWidth < 900;

        StateHasChanged();
    }
    void OnAuthStateChanged( Task<AuthenticationState> task )
    {
        HandleIdentity( task.Result );
    }

    void HandleIdentity( AuthenticationState state )
    {
        authenticated = state.User.Identity?.IsAuthenticated ?? false;
        
        if (authenticated) {
            username = state.User.Identity!.Name ?? "Account";
            sidebar?.OnAccountChange( username );
            StateHasChanged();
            return;
        }

        username = DefaultUserText;
        sidebar?.OnAccountChange( null );
        StateHasChanged();
    }
    void ShowDesktopCategories()
    {
        showDesktopCategories = true;
        StateHasChanged();
    }
    void HideDesktopCategories()
    {
        showDesktopCategories = false;
        StateHasChanged();
    }
    void ShowAccountDropdown()
    {
        showUserOptions = authenticated;
        StateHasChanged();
    }
    void HideAccountDropdown()
    {
        showUserOptions = false;
        StateHasChanged();
    }
    void OnClickAccountButton()
    {
        string url = authenticated
            ? Urls.PageAccountProfile
            : Urls.PageLoginOrRegister;

        Navigation.NavigateTo( url, true );
    }
    void GoToCart()
    {
        Navigation.NavigateTo( Urls.PageCart, true );
    }
    void OpenSide()
    {
        sidebar?.Open();
    }
}