@using Shop.Infrastructure.Catalog.Categories
@using Shop.Infrastructure.Catalog.Brands
@using Shop.Infrastructure.Catalog
@using Shop.Infrastructure.Catalog.Brands.Types
@using Shop.Infrastructure.Catalog.Categories.Types

<!-- CONTAINER -->
<div class="d-flex flex-column @GetDisplayCss()">
    
    <!-- MOBILE HEADER -->
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between mb-3">
                <!-- TITLE AND CLOSE -->
            <h3 class="text-decoration-underline m-0 mb-lg-3 p-0">Filters</h3>
            <button class="btn btn-close-white ms-3" @onclick="()=>ToggleView(false)">
                <i class="fa-solid fa-x"></i>
            </button>
        </div>
        <!-- CLEAR ALL -->
        <button class="btn btn-close-white ms-3 @GetClearAllCss()" @onclick="Clear">
            Clear All
        </button>
    </div>
    
    <!-- DESKTOP HEADER -->
    <div class="d-flex flex-row justify-content-between mb-3">
        <h3 class="text-decoration-underline m-0 mb-lg-3 p-0">Filters</h3>
        <button class="btn btn-primary- ms-3 @GetClearAllCss()" @onclick="Clear">
            Clear All
        </button>
    </div>
    
    <!-- CATEGORIES -->
    @if (ShouldShowCategories()) {
        <div class="product-filters-section d-grid">
            <button class="btn product-filters-button" type="button" @onclick="() => ToggleSectionCollapse( SectionCategories )">
                <span>@GetCategoriesTitle()</span>
                <i class="fa @GetCollapseIconCss( SectionCategories )"></i>
            </button>
            <div class="@GetCollapseDisplayCss( SectionCategories )">
                <ul class="list-unstyled d-flex flex-column">
                    @foreach ( Category c in _parentCategory?.Children ?? [] ) {
                        <button class="btn btn-link" @onclick="() => OnClickCategory( c )"></button>
                    }
                </ul>
            </div>
        </div>   
    }
    
    <!-- BRANDS -->
    <div class="product-filters-section d-grid">
        <button class="btn product-filters-button" type="button" @onclick="()=>ToggleSectionCollapse( SectionBrands )">
            <span>Brands</span>
            <i class="fa @GetCollapseIconCss( SectionBrands )"></i>
        </button>
        <div class="@GetCollapseDisplayCss( SectionBrands )">
            <ul class="list-unstyled d-flex flex-column">
                @foreach ( Brand b in _brands ) {
                    <button class="btn btn-link" @onclick="()=>OnClickBrand( b )"></button>
                }
            </ul>
        </div>
    </div>
    
</div>

@code {
    const string SectionCategories = "Categories";
    const string SectionBrands = "Brands";
    bool _altered = false;
    bool _hidden = false;
    Category? _parentCategory = null;
    Category? _selectedCategory = null;
    List<Brand> _brands = [];

    readonly Dictionary<string, bool> _collapsedSections = [];
    readonly HashSet<Guid> _selectedBrands = [];

    public event Func<SearchFiltersDto, Task>? OnChangeFilters;
    public void SetData( Category? category, IEnumerable<Brand> brands )
    {
        Clear();
        _parentCategory = category;
        _brands = brands.ToList();
    }
    public void ToggleView( bool shouldShow )
    {
        _hidden = shouldShow;
        StateHasChanged();
    }
    
    string GetDisplayCss() =>
        _hidden ? "d-none" : "d-flex";
    string GetCollapseIconCss( string sectionName ) => 
        _collapsedSections[sectionName] ? "fa-plus" : "fa-minus";
    string GetCollapseDisplayCss( string sectionName ) => 
        _collapsedSections[sectionName] ? "collapse" : "collapse-show";
    string GetClearAllCss() =>
        _altered ? "d-block" : "d-none";
    string GetCategoriesTitle() =>
        _parentCategory?.ParentId is null ? "Categories" : "Sub-Categories";

    bool ShouldShowCategories() =>
        _parentCategory is null || _parentCategory.Children.Any();

    void Clear()
    {
        _parentCategory = null;
        _selectedCategory = null;
        _selectedBrands.Clear();
        _altered = false;
    }
    void ToggleSectionCollapse( string sectionName )
    {
        if (!_collapsedSections.TryGetValue( sectionName, out bool value )) {
            Console.WriteLine( "Invalid Section Name" );
            return;
        }
        bool newValue = !value;
        _collapsedSections[sectionName] = newValue;
    }
    void OnClickCategory( Category category )
    {
        _altered = true;
        _selectedCategory = category;
        InvokeChange();
    }
    void OnClickBrand( Brand brand )
    {
        _altered = true;
        _selectedBrands.Add( brand.Id );
    }
    void InvokeChange()
    {
        SearchFiltersDto f = new(
            _selectedCategory?.Id,
            _selectedBrands,
            null,
            null,
            null,
            null,
            false );

        OnChangeFilters?.Invoke( f );
    }
}