@using Shop.Utilities
@using Shop.Infrastructure.Catalog.Products.Models
@using Shop.Infrastructure.Catalog.Brands.Types
@using Shop.Infrastructure.Ordering;
@using Shop.Infrastructure.Ordering.Types
@using Shop.Infrastructure.Authentication

<!-- CONTAINER -->
<div class="search-list">
    @foreach ( Infrastructure.Catalog.Products.Models.ProductDetails p in _searchItems )
    {
        <!-- ITEM -->
        <div class="search-item">
            
            <!-- IMAGE -->
            <div class="search-item-img">
                <a class="btn" href="@GetDetailsUrl( p )">
                    <img src="@p.Image" alt="@p.Name"/>
                </a>
            </div>
            
            <!-- TITLE -->
            <a class="btn search-item-title" href="@GetDetailsUrl( p )">
                <h3>@p.Name</h3>
            </a>
            
            <!-- RATING/BRAND -->
            <div class="search-item-rating-brand">
                <!-- RATING -->
                <div class="search-item-rating">
                    @for ( int i = 1; i <= 5; i++ )
                    {
                        <div>
                            <i class="fa fa-star fa-xs @GetRatingCss( p, i )"></i>
                        </div>
                    }
                    <small class="d-block ms-1 text-muted">
                        @p.NumberRatings
                    </small>
                </div>

                <!-- BRAND -->
                <div class="search-item-brand">
                    <span class="d-block text-muted">
                        Brand:&nbsp;
                    </span>
                    <a class="d-block btn btn-link" href="@GetBrandUrl( p.Brand )">
                        @p.Brand.Name
                    </a>
                </div>
            </div>
            
            <!-- SHIPPING/PRICING -->
            <div class="search-item-shipping-pricing">
                <!-- SHIPPING -->
                <div class="search-item-shipping mb-1">
                    <small class="@GetDeliveryEstimateColor( p )">
                        @GetDeliveryEstimateText( p )
                    </small>
                </div>
                <!-- PRICING -->
                <div class="search-item-pricing mb-3">
                    @if (p.SalePrice > 0)
                    {
                        <span class="search-item-price">
                            $@p.SalePrice
                        </span>
                        <span class="ms-2 text-muted text-decoration-line-through">
                            $@p.Price
                        </span>
                    }
                    else
                    {
                        <span class="search-item-price">
                            $@p.Price
                        </span>
                    }
                </div>
            </div>
            
            <!-- CART -->
            @if (IsProductInCart( p, out int count ))
            {
                <a class="btn btn-info btn-icon search-item-cart-button" href="@Consts.PageCart">
                    <i class="fa-solid fa-circle-check fa-xs"></i>
                    <small>View In Cart (@count)</small>
                </a>
            }
            else if (p.IsInStock)
            {
                <button class="btn btn-outline-primary btn-icon search-item-cart-button" @onclick="@(async ()=> await AddToCart(p))">
                    <i class="fa-solid fa-shopping-cart fa-xs"></i>
                    <small>Add To Cart</small>
                </button>
            }
            else
            {
                <button disabled class="btn btn-secondary btn-icon search-item-cart-button">
                    <i class="fa-solid fa-circle-xmark fa-xs"></i>
                    <small>Out of Stock</small>
                </button>
            }
        </div>
    }
</div>

@code 
{
    [Inject] public CartManager CartManager { get; init; } = default!;
    CartItems _cartItems = CartItems.Empty();
    List<Infrastructure.Catalog.Products.Models.ProductDetails> _searchItems = [];
    
    public event Action<bool,string?>? OnItemAddedToCart;
    public void SetLocation( int? x, int? y )
    {
        StateHasChanged();
    }
    public void ChangeSearchResults( List<Infrastructure.Catalog.Products.Models.ProductDetails> items )
    {
        _searchItems = items;
        StateHasChanged();
    }
    public void RefreshState()
    {
        StateHasChanged();
    }
    
    async Task AddToCart( Infrastructure.Catalog.Products.Models.ProductDetails p )
    {
        var cartReply = await CartManager.Add( p );
        if (!cartReply)
        {
            OnItemAddedToCart?.Invoke( false, cartReply.GetMessage() );
            return;
        }

        var newSummary = await CartManager.Get();
        if (!newSummary)
        {
            OnItemAddedToCart?.Invoke( false, cartReply.GetMessage() );
            return;
        }
        
        _cartItems = newSummary.Data;
        OnItemAddedToCart?.Invoke( true, null );
        StateHasChanged();
    }
    bool IsProductInCart( Infrastructure.Catalog.Products.Models.ProductDetails p, out int count )
    {
        bool isInCart = _cartItems.Contains( p.Id, out count );
        return isInCart;
    }
    
    string GetBrandUrl( Brand brand ) =>
        Consts.GetProductSearchUrl( $"?BrandIds={brand.Id}&" );
    string GetDetailsUrl( Infrastructure.Catalog.Products.Models.ProductDetails p ) => 
        Consts.GetProductDetailsUrl( p.Id );
    
    static string GetDeliveryEstimateText( Infrastructure.Catalog.Products.Models.ProductDetails item ) =>
        item.IsInStock ? $"Get within {item.ShippingDays} days." : "Out of stock.";
    static string GetDeliveryEstimateColor( Infrastructure.Catalog.Products.Models.ProductDetails item ) =>
        item.IsInStock ? "text-success" : "text-danger";
    static string GetRatingCss( Infrastructure.Catalog.Products.Models.ProductDetails item, int level ) =>
        item.Rating >= level ? "rating-star-full" : "rating-star-empty";
    static string GetShippingText( Infrastructure.Catalog.Products.Models.ProductDetails item ) =>
        item.IsInStock ? $"Get within {item.ShippingDays} days." : "Out of stock.";
}