@using Shop.Utilities
@using Shop.Types.Cart
@using Shop.Infrastructure
@using Shop.Types.Products
@using Shop.Types.Products.Dtos

<!-- CARD -->
<div class="product-card">
    
    <!-- IMAGE -->
    <div class="product-image">
        <a href="@Consts.GetProductDetailsUrl( Product.Id )">
            <img src="@Product.Image" alt="@Product.Name"/>
        </a>
    </div>
    
    @if (CardType != Type.Cart)
    {
        <!-- TITLE -->
        <a class="product-card-line product-title link-dark" href="@Consts.GetProductDetailsUrl( Product.Id )">
            <h3 class="link-dark">@Product.Name</h3>
        </a>
    }
    
    <!-- DIVIDER -->
    <hr class="product-title-divider"/>
    
    <!-- INNER -->
    <div class="product-card-inner d-flex flex-column flex-grow-1">
        
        @if (CardType == Type.Cart)
        {
            <!-- TITLE -->
            <a class="product-card-line product-title link-dark" href="@Consts.GetProductDetailsUrl( Product.Id )">
                <h3 class="link-dark">@Product.Name</h3>
            </a>
        }
        
        <div class="product-card-inner-div-container">
            <div class="product-card-inner-div product-card-inner-div-right">
                <!-- RATING -->
                <div class="product-card-line product-rating">
                    @for ( int i = 1; i <= 5; i++ )
                    {
                        <div>
                            <i class="@Utils.GetRatingCss( Product.Rating, i )"></i>
                        </div>
                    }
                    <a class="product-rating-count" href="@Consts.GetProductDetailsUrlRatings( Product.Id )">
                        @Product.NumberRatings
                    </a>
                </div>
                
                <!-- BRAND -->
                @if (CardType is Type.Details or Type.Search or Type.Cart)
                {
                    <!-- BRAND -->
                    <div class="product-card-line product-brand">
                        <span class="product-brand-label me-1">
                            Brand:&nbsp;
                        </span>
                        <a class="product-brand-link" href="@Consts.GetBrandSearchUrl( Product.BrandId )">
                            @Product.BrandName
                        </a>
                    </div>   
                }
                
                <!-- RELEASE DATE -->
                @if (CardType is Type.Details or Type.Search)
                {
                    <div class="product-card-line product-date">
                        <small class="text-muted me-1 product-date-label">Released:</small>
                        <small>@Product.ReleaseDate.ToString("dd/MM/yyyy")</small>
                    </div>
                }
            </div>
            
            <div class="product-card-inner-div product-card-inner-div-left">
                <!-- PRICING -->
                <div class="product-card-line product-pricing">
                    @if (Product.SalePrice is not null)
                    {
                        <span class="product-price">
                            $@Product.SalePrice
                        </span>
                        <span class="product-sale-price">
                            $@Product.Price
                        </span>
    
                    }
                    else
                    {
                        <span class="product-price">
                            $@Product.Price
                        </span>
                    }
                </div>
                
                <!-- PRICING WARNING -->
                @if (Product.IsSaleEndDateNear( out int days ))
                {
                    <div class="product-card-line product-pricing-warning">
                        <span>Sale ends in @days days!</span>
                    </div>
                }
    
                <!-- SHIPPING PRICE -->
                <div class="product-card-line product-shipping">
                    @if (Product.ShippingPrice is null)
                    {
                        <span class="free-shipping">Free Shipping</span>
                    }
                    else
                    {
                        <span>$@Product.ShippingPrice <small>shipping</small></span>
                    }
                </div>
                
                <!-- SHIPPING ESTIMATE -->
                @if (CardType != Type.Slider)
                {
                    <!-- SHIPPING ESTIMATE -->
                    <div class="product-card-line">
                        <small class="@GetDeliveryEstimateColor( Product )">
                            @GetDeliveryEstimateText( Product )
                        </small>
                    </div>   
                }
            </div>    
        </div>
    </div>
    
    <!-- CART -->
    @switch ( CardType )
    {
        case Type.Details:
        {
            <!-- CART -->
            <div class="product-cart w-100 d-flex flex-row align-items-stretch justify-content-between gap-3">
                @if (IsProductInCart( Product, out int count ))
                {
                    <!-- CART BUTTON -->
                    <a class="btn btn-primary btn-icon w-100" href="@Consts.PageCart">
                        <i class="fa fa-shopping-cart fa-sm me-2"></i>
                        <small>View In Cart (@count)</small>
                    </a>
                }
                else if (!Product.IsInStock)
                {
                    <!-- DISABLED BUTTON -->
                    <button disabled class="btn btn-secondary btn-icon w-100">
                        <i class="fa-solid fa-circle-xmark fa-sm me-2"></i>
                        <small>Out of Stock</small>
                    </button>
                }
                else
                {
                    <!-- DROPDOWN LIST -->
                    <div class="form-group w-50">
                        <select id="quantitySelect" class="btn btn-outline-secondary btn-icon form-select h-100 w-100" @onchange="OnQuantityChange" value="@_selectedQuantity">
                            @foreach ( int quantity in Quantities )
                            {
                                <option value="@quantity" selected="@( _selectedQuantity == quantity )">Qty: @quantity</option>
                            }
                        </select>
                    </div>
                    <!-- ADD BUTTON -->
                    <button class="btn btn-outline-primary btn-icon w-50" @onclick="@(async () => await AddToCart( Product ))">
                        <i class="fa-solid fa-shopping-cart fa-sm me-2"></i>
                        <small>Add To Cart</small>
                    </button>
                }
            </div>
            break;
        }
        case Type.Cart:
            break;
        default:
        {
            if (IsProductInCart( Product, out int count ))
            {
                <a class="btn btn-primary btn-icon search-item-cart-button w-100 px-3" href="@Consts.PageCart">
                    <i class="fa-solid fa-circle-check fa-xs me-2"></i>
                    <small>View In Cart (@count)</small>
                </a>
            }
            else
            {
                if (Product.IsInStock)
                {
                    <button class="btn btn-outline-primary btn-icon search-item-cart-button shadow-sm w-100 px-3" @onclick="@(async () => await AddToCart( Product ))">
                        <i class="fa-solid fa-shopping-cart fa-xs me-2"></i>
                        <small>Add To Cart</small>
                    </button>
                }
                else
                {
                    <button disabled class="btn btn-secondary btn-icon search-item-cart-button shadow-sm w-100 px-3">
                        <i class="fa-solid fa-circle-xmark fa-xs me-2"></i>
                        <small>Out of Stock</small>
                    </button>
                }
            }
            break;
        }
    }

</div>

@code 
{
    [Parameter] public Type CardType { get; set; }
    [Parameter] public ProductModel Product { get; init; } = default!;

    [Inject] public LoadingService Loader { get; set; } = default!;
    [Inject] public CartManager CartManager { get; init; } = default!;
    
    CartItems _cartItems = CartItems.Empty();
    readonly int[] Quantities = [1, 2, 3, 5, 10];
    int _selectedQuantity = 1;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var reply = await CartManager.GetInMemory();
        _cartItems = reply
            ? reply.Data
            : CartItems.Empty();
    }

    bool IsProductInCart( ProductModel p, out int count )
    {
        bool isInCart = _cartItems.Contains( p.Id, out count );
        return isInCart;
    }
    async Task AddToCart( ProductModel p )
    {
        ArgumentNullException.ThrowIfNull( p );
        Loader.StartLoadingPage( "Adding to cart..." );
        var cartReply = await CartManager.Add( p.Id );
        if (!cartReply)
        {
            Loader.StopLoadingPage();
            return;
        }

        var newSummary = await CartManager.GetInMemory();
        if (!newSummary)
        {
            Loader.StopLoadingPage();
            return;
        }

        _cartItems = newSummary.Data;
        Loader.StopLoadingPage();
    }
    void OnQuantityChange( ChangeEventArgs e )
    {
        _selectedQuantity = int.Parse( e.Value?.ToString() ?? string.Empty );
    }
    static string GetDeliveryEstimateText( ProductModel item ) =>
        item.IsInStock ? $"Get within {item.ShippingDays} days." : "Out of stock.";
    static string GetDeliveryEstimateColor( ProductModel item ) =>
        item.IsInStock ? "text-success" : "text-danger";

    public enum Type
    {
        Slider,
        Search,
        Details,
        Cart
    }
}