@page "/account"
@using Shop.Pages.Account.Components
@inherits Shop.Shared.PageBase

<PageTitle>Manage Account</PageTitle>

<div class="row">
    <div class="col-4">
        <!-- Navigation -->
    </div>
    <div class="col-8">
        @if (isComponentLoading) {
            <div class="loading-container">
                <div class="loading-circle"></div>
                <p>@componentLoadingMessage</p>
            </div>
        }
        else {
            switch ( CurrentView ) {
                case nameof( AccountDeleted ):
                    <AccountDeleted Page="@this"/>
                    break;
                case nameof( DeleteAccount ):
                    <DeleteAccount Page="@this"/>
                    break;
                case nameof( ManageAccount ):
                    <ManageAccount Page="@this"/>
                    break;
                case nameof( ManageAddresses ):
                    <ManageAddresses Page="@this"/>
                    break;
            }
        }
    </div>
</div>
