@using Shop.Utilities

<li class="nav-item">
    <a class="nav-link" href="@Urls.PageAccountProfile">
        <i class="fa fa-user nav-icon"></i><strong>Profile</strong>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Urls.PageAccountPassword">
        <i class="fa-solid fa-key nav-icon"></i><strong>Password</strong>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Urls.PageAccountAddresses">
        <i class="fa fa-map-location-dot nav-icon"></i><strong>Addresses</strong>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="@Urls.PageHome">
        <i class="fa fa-file-invoice nav-icon"></i><strong>Orders</strong>
    </a>
</li>
<li class="nav-item border-bottom-0">
    <a class="nav-link" href="@Urls.PageAccountDelete">
        <i class="fa fa-trash nav-icon"></i><strong>Delete</strong>
    </a>
</li>