@page "/identity/reset-password"
@using System.ComponentModel.DataAnnotations
@using ShopApplication.Common
@using ShopApplication.Common.Optionals
@using ShopApplication.Features.Identity
@using ShopWeb.Utilities
@inherits PageBase

<PageTitle>Reset Password</PageTitle>

@if (linkError) {
    <h1>Invalid password reset link.</h1>
    <p>The reset code is null.</p>
    <h3>Please try generating another reset link, or try contacting support.</h3>
}
else if (resetSuccess) {
    <h1>Password reset successfully.</h1>
    <h3>Email: @(reply?.Email ?? "No email returned.")</h3>
    <h3>Username: @( reply?.Name ?? "No username returned." )</h3>
    <p>You password has been successfully reset. <a href="@loginLink">Click here</a> to login.</p>
}
else {
    <h1>Reset your password.</h1>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="Request" FormName="reset-password" OnValidSubmit="OnValidSubmitAsync" method="post">
                <DataAnnotationsValidator/>
                <ValidationSummary class="text-danger" role="alert"/>
                <input type="hidden" name="Input.Code" value="@Request.ResetCode"/>
                <div class="form-floating mb-3">
                    <InputText @bind-Value="@Request.Email" id="email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="@(() => Request.Email)" class="text-danger"/>
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="@Request.Password" id="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password."/>
                    <label for="password" class="form-label">Password</label>
                    <ValidationMessage For="@(() => Request.Password)" class="text-danger"/>
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="@Request.ConfirmPassword" id="confirm-password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password."/>
                    <label for="confirm-password" class="form-label">Confirm password</label>
                    <ValidationMessage For="@(() => Request.ConfirmPassword)" class="text-danger"/>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
            </EditForm>
        </div>
    </div>
}

@code 
{
    [SupplyParameterFromQuery] string? Code { get; } = null;
    [SupplyParameterFromForm] PasswordResetRequest Request { get; } = new();
    
    bool linkError = false;
    bool resetSuccess = false;
    PasswordResetReply? reply;
    string loginLink => WebUtils.GetIdentityPage( WebConsts.LoginOrRegisterConfig, Configuration );
    
    protected override string GetInitialLoadingMessage() =>
        "Loading Password Reset...";
    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty( Code )) {
            linkError = true;
            StopLoading();
            StateHasChanged();
            return;
        }

        Request.ResetCode = Code;
        StopLoading();
    }
    async Task OnValidSubmitAsync()
    {
        StartLoading( "Resetting Password..." );

        string api = IdentityUtils.GetApiUrl( "Reset", Configuration );
        Obj<PasswordResetReply> result = await Http.TryPostObjRequest<PasswordResetReply>( api, Request );

        if (!result.IsSuccess()) {
            PushAlert( AlertType.Danger, $"Failed to reset password: {result.PrintDetails()}" );
            StopLoading();
            return;
        }

        resetSuccess = true;
        reply = result.Object;
        StopLoading();
        StateHasChanged();
    }
    
    sealed class PasswordResetRequest
    {
        [Required, EmailAddress]
        public string Email { get; set; } = string.Empty;

        [Required, DataType( DataType.Password ), StringLength( 40, ErrorMessage = "The password must be at least {8} and at max {40} characters long.", MinimumLength = 8 )]
        public string Password { get; set; } = string.Empty;

        [Required, DataType( DataType.Password ), Display( Name = "Confirm password" ), Compare( "Password", ErrorMessage = "The password and confirmation password do not match." )]
        public string ConfirmPassword { get; set; } = string.Empty;

        [Required] 
        public string ResetCode { get; set; } = string.Empty;
    }
    sealed record PasswordResetReply(
        string Email,
        string Name );
}