@using System.ComponentModel.DataAnnotations
@using ShopApplication.Common
@using ShopApplication.Common.Optionals
@using ShopWeb.Utilities
@inherits PageComponent

<h3>UpdatePassword</h3>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="@Request" FormName="change-password" OnValidSubmit="OnValidSubmitPasswordAsync" method="post">
            <DataAnnotationsValidator/>
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="form-floating mb-3">
                <InputText type="password" bind-Value="@Request.OldPassword" id="old-password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password."/>
                <label for="old-password" class="form-label">Old password</label>
                <ValidationMessage For="@(() => Request.OldPassword)" class="text-danger"/>
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" bind-Value="@Request.NewPassword" id="new-password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password."/>
                <label for="new-password" class="form-label">New password</label>
                <ValidationMessage For="@(() => Request.NewPassword)" class="text-danger"/>
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" bind-Value="@Request.ConfirmPassword" id="confirm-password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
                <label for="confirm-password" class="form-label">Confirm password</label>
                <ValidationMessage For="@(() => Request.ConfirmPassword)" class="text-danger"/>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update Password</button>
        </EditForm>
    </div>
</div>

@code {
    [Inject] WebConfig WebConfig { get; init; } = default!;
    readonly UpdatePasswordRequest Request = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await CallStopLoading();
    }
    
    async Task OnValidSubmitPasswordAsync()
    {
        await CallStartLoading( "Updating Password..." );

        Opt<bool> result = await Http.TryPostRequest<bool>( Urls.ApiUpdatePassword, Request );

        if (!result.IsOkay()) {
            await CallStopLoading();
            await CallPushAlert( AlertType.Danger, $"Failed to update password. {result.Message()}" );
            return;
        }

        await CallStopLoading();
        await CallPushAlert( AlertType.Success, $"Password successfully updated." );
    }

    sealed class UpdatePasswordRequest
    {
        [Required, DataType( DataType.Password ), Display( Name = "Current password" )]
        public string OldPassword { get; set; } = "";

        [Required, StringLength( 100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6 ), DataType( DataType.Password ), Display( Name = "New password" )]
        public string NewPassword { get; set; } = "";

        [DataType( DataType.Password ), Display( Name = "Confirm new password" ), Compare( "NewPassword", ErrorMessage = "The new password and confirmation password do not match." )]
        public string ConfirmPassword { get; set; } = "";
    }
}