@page "/authenticate"
@using Shop.Pages.Authentication.Components
@using Shop.Shared
@inherits Shop.Shared.PageBase
@layout MainLayout

@if (isComponentLoading) {
    <div class="loading-container">
        <div class="loading-circle"></div>
        <p>@componentLoadingMessage</p>
    </div>
}
else {
    switch ( CurrentView ) {
        case nameof( EmailConfirm ):
            <EmailConfirm Page="@this"/>
            break;
        case nameof( EmailConfirmResend ):
            <EmailConfirmResend Page="@this"/>
            break;
        case nameof( LoginOrRegister ):
            <LoginOrRegister Page="@this"/>
            break;
        case nameof( PasswordForgot ):
            <PasswordForgot Page="@this"/>
            break;
        case nameof( PasswordReset ):
            <PasswordReset Page="@this"/>
            break;
    }
}
